# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Data outputs
data/processed/*
!data/processed/.gitkeep

# Reports
reports/*.pdf
